<div class="container text-center mt-5">
  <!-- Encabezado principal -->
  <h1 class="display-4 text-glow-pink"><span style="font-family: Orbitron;">Bienvenidos a</span> <span class="text-cyber"> Apex Motors</span></h1>
  <p class="lead text-glow-blue" style="font-family: Orbitron;">Gestiona fácilmente tu concesionario de autos superdeportivos con estadísticas en tiempo real.</p>

  <!-- Carousel de imágenes -->
  <div id="cyberpunkCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="icons/porsche.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
          <div class="carousel-caption">
              <h5 class="text-cyber">Porsche 911 GT3 RS</h5>
          </div>
        </div>
          <div class="carousel-item">
              <img src="icons/lambo.png" class="d-block w-75 mx-auto rounded" alt="Auto 1">
              <div class="carousel-caption">
                  <h5 class="text-cyber">Lamborghini Huracán</h5>
              </div>
          </div>
          <div class="carousel-item">
              <img src="icons/chiron.png" class="d-block w-75 mx-auto rounded" alt="Auto 2">
              <div class="carousel-caption">
                  <h5 class="text-cyber">Bugatti Chiron Super Sport</h5>
              </div>
          </div>
          <div class="carousel-item">
              <img src="icons/ferra.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
              <div class="carousel-caption">
                  <h5 class="text-cyber">Ferrari 458 Italia</h5>
              </div>
          </div>
          <div class="carousel-item">
            <img src="icons/must.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Mustang 67'</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="icons/ae86.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Hachi Roku</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="icons/audi.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Audi R8</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="icons/silvia.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Nissan Silvia S15</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="icons/nissan.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Nissan GTR R34</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img src="icons/tri.png" class="d-block w-75 mx-auto rounded" alt="Auto 3">
            <div class="carousel-caption">
                <h5 class="text-cyber">Triciclo</h5>
            </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#cyberpunkCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#cyberpunkCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
      </button>
  </div>
</div>
